.card {
  width: 18rem;
}

.card-style {
  color: rgb(255, 254, 254);

  margin-top: 22%;
  height: 45%;
  width: 100%;
  border-radius: 8px;
}

.img-style {
  height: 150%;
}
.form-style {
  margin-top: 10%;
}

h4 {
  padding: 20%;
  font-family: cursive;
}

.formcenter {
  margin-left: 30%;
}

h3 {
  text-shadow: 2px 2px 5px rgb(37, 21, 21);
}

.middletext {
  padding-top: 70px;
}
.back {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.maincontainer {
  height: 800px;
  background-color: rgb(241, 241, 241);
}

.background {
  background-color: rgb(241, 241, 241);
}

.container-style {
  background-color: white;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginform {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin: auto;
  height: auto;
  margin-top: 5%;
  width: 30%;
  padding: 30px;
  background-color: white;
}

.loginbutton {
  border: 1px solid;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  background-color: #ff9900;
}

.box1 {
  margin-top: 10%;
}

.box2 {
  margin-top: 10%;
}

.loginform h2 {
  margin: auto;
  margin-top: 10%;
}
